
.wrapbox-heading-account {
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
label {
    color: #868D95;
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control {
    letter-spacing: 2px;
    padding: 10px;
    font-size: 14px;
    color: #2E2E2E;
    height: 44px;
    border-radius: 2px;
    line-height: 14px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #ced4da;
  
}
.text-center {
    text-align: center!important;
}
