.main-dashboard__custommer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-height: 100vh;
}

.main-dashboard__custommer-table {
  width: 100%;
}

.main-dashboard__custommer-table th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  text-align: left;
  padding: 8px 12px;
}

.main-dashboard__custommer-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 8px 12px;
}

.main-dashboard__custommer-item {
  padding: 4px 8px;
}

.main-dashboard__custommer-item:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.main-dashboard__custommer-item-proc>div {
  display: flex;
  align-items: center;
}

.main-dashboard__custommer-item-img {
  flex-shrink: 0;
  border-radius: 9999px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-dashboard__custommer-item-img img {
  width: 84px;
}

.main-dashboard__custommer-title {
  padding: 16px 16px 8px 16px;
}

.main-dashboard__custommer-item-title {
  margin: 0;
  margin-left: 14px;
  font-size: 16px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-dashboard__custommer-item-control>div {
  display: flex;
  justify-content: space-evenly;
}

.main-dashboard__custommer-item-icon {
  cursor: pointer;
}

.main-dashboard__custommer-handle {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}

.main-dashboard__custommer-handle-search-icon {
  border: none;
  background-color: transparent;
  padding: 0 8px;
}

.main-dashboard__custommer-handle-search-wrapper {
  display: flex;
  height: 48px;
  align-items: center;
  flex: 1;
}

.main-dashboard__custommer-handle-search {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-dashboard__custommer-handle-search label {
  width: 55px;
  padding-left: 5px;
}

#cc {
  width: 150px;
}

.main-dashboard__custommer-handle-search {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* butotn tìm kiếm ngày đặc */
.find-date-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.find-date-btn:hover {
  background-color: #0056b3;
}

.main-dashboard__custommer-handle-search input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 24px 0 4px;
}

.main-dashboard__custommer-handle-filter-wrapper {
  width: 214px;
  padding-right: 12px;
}

.main-dashboard__custommer-handle-filter {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.main-dashboard__custommer-item-ban {
  color: red;
}

p {
  margin: 0;
}

/* css phần table */
.hoadon table {
  border-collapse: collapse;
  width: 100%;
}

.hoadon th,
td {
  user-select: none;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.hoadon tr:hover {
  background-color: #f5f5f5;
}

.hoadon th {
  background-color: #ddd;
}

/* css dropdơn list */
.hoadon option {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

.hoadon optgroup {
  font-weight: bold;
  color: #333;
}

.header .header_top {
  display: flex;
  justify-content: space-between;
}

.header .header_top i {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

/* cthd */

thead {
  position: sticky;
  /* tạo đầu ra cố định */
  top: 0;
  /* đặt vị trí đầu ra cố định trên cùng */
  background-color: #f5f5f5;
  /* tùy chỉnh màu nền */
}

#orderTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#orderTable th,
td,
tr {
  text-align: center;
  padding: 8px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

#orderTable th {
  background-color: #f2f2f2;
  color: #333;
}

#orderTable tr:hover {
  background-color: #5ed1ee;
}

#orderTable tr {
  background-color: #f5f5f5;
}

#orderTable td:last-child {
  font-weight: bold;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

#overlay .wrapper {
  background-color: #d6d6d6;
  height: 83%;
  width: 80%;
}

#overlay .wrapper .wrapper_table {
  max-height: 250px;
  /* đặt giá trị max-height tùy ý */
  overflow-y: auto;
  /* tạo thanh cuộn dọc */
}

#overlay .wrapper .header {
  padding: 20px 0px 20px 20px;
}

#overlay .wrapper .header .infor_cus {
  display: flex;
  padding: 5px 5px;
}

#overlay .wrapper .header .wrapper_content {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 20px 0 0 20px;
}

.header .wrapper_content .infor_label,
.header .wrapper_content .infor_content {
  margin-bottom: 10px;
}

.header .wrapper_content .infor_label {
  display: flex;
}

.header .wrapper_content .infor_label>h2 {
  width: 188px;
  flex: none;
}

#overlay .wrapper h1 {
  font-size: 25px;
  font-weight: bold;
}

#overlay .wrapper h2 {
  font-weight: 600;
  padding-right: 5px;
}

.footer {}

/* footer */
.footer .tong_sl {
  float: right;
  margin-right: 20px;
}

.footer .tong_tien {
  float: right;
  margin-right: 20px;
}

/* calender */

.disable_hover_btn {
  background-color: #d6d6d6 !important;

}

.disable_hover_btn:hover {
  background-color: #d6d6d6 !important;
}